input {
  width: -webkit-fill-available;
  outline: none;
}

.todo {
  margin: 100px auto;
  width: 30%;
}

.item {
  width: inherit;
  min-height: 27px;
  display: flex;
  cursor: pointer;
  margin: 3px;
}

.done {
  text-decoration: line-through;
}

.status-color {
  height: inherit;
  margin-left: 1rem;
  width: 15px;
  margin-right: 1rem;
}

.done > .status-color {
  background-color: mediumseagreen;
}

.undone > .status-color {
  background-color: lightblue;
}

.processing > .status-color {
  background-color: orange;
}

.heading {
  font-size: xx-large;
  width: 80%;
}

.remove-icon {
  cursor: pointer;
  display: none;
  padding: 1%;
  margin-right: 15px;
  color: gray;
}

.heading-container {
  display: flex;
  justify-content: space-between;
}

.item-container {
  display: flex;
  justify-content: space-between;
}

.item-container:hover > .remove-icon {
  display: block;
}

.heading-container:hover > .remove-icon {
  display: block;
}
