.item {
  height: 25px;
  display: flex;
  cursor: pointer;
  margin: 3px;
}

.done {
  text-decoration: line-through;
}

.status-color {
  height: inherit;
  width: 10px;
}

.done > .status-color {
  background-color: mediumseagreen;
}

.undone > .status-color {
  background-color: lightblue;
}

.processing > .status-color {
  background-color: orange;
}

.heading {
  font-size: x-large;
}
